@font-face {
  font-family: 'titulo';
  src: url(../fonts/CaesarDressing-Regular.ttf);
}

@font-face {
  font-family: 'bodyfont';
  src: url(../fonts/Chakra_Petch/ChakraPetch-Regular.ttf);
}


* {box-sizing:border-box;} 

/*scroll suave*/
html {
  scroll-behavior: smooth;
}

body {
  background-color: black;
  margin-left: 10%;
  margin-right: 10%;
}

/*********************** ESTILO DE HEADER *************************/

header {
  padding-right: 3%;
  padding-left: 3%;
  background-color: rgba(89, 89, 89, 0.5);
  text-align: center;
  color: rgb(255, 255, 255);
  margin-bottom: 5px;
}

/*************** ESTILO TÃTULOS ****************/

h1 {
  font-family: 'titulo', cursive;
}

h2 {
  font-family: 'titulo', cursive;
  text-align: center;
}

h3 {
  font-family: 'titulo', cursive;
}

h4 {
  font-family: 'titulo', cursive;
  text-align: center;
}

/*************** ESTILO BOTON ****************/

#btn-mas{
  display: none;
}

.botonUp {
  position: fixed;
  bottom: 20px;
  right: 10px;
}

.parts a, .icon-mas2 {
  display: block;
  text-decoration: none;
  background-color: brown;
  color: white;
  width: 40px;
  height: 40px;
  line-height: 40px;
  text-align: center;
  border-radius: 50%;
  box-shadow: 0px 1px 10px rgba(0,0,0,0.4);
  transition: all 500ms ease;
}

.parts a:hover {
  background-color: white;
  color: brown;
}

.parts a {
  margin-bottom: -15px;
  opacity: 0;
  visibility: hidden;
}

#btn-mas:checked~ .parts a {
  margin-bottom: 10px;
  opacity: 1;
  visibility: visible;
}

.icon-mas2 {
  cursor: pointer;
  background-color: brown;
  font-size: 20px;
}

.icon-mas2:hover {
  background-color: white;
  color: brown;
}

#btn-mas:checked ~ .btn-mas .icon-mas2{
  transform: rotate(225deg);
  font-size: 20px;
}

/*************** ESTILO DE NAV ***************/

nav {
  background-color: rgba(89, 89, 89, 0.5);
  text-align: center;
}

.hamburger-menu {
  display: block;
}

.hamburger-menu li {
  display: inline-block;
  margin-inline: 3%;
}

.hamburger-menu li a {
  color: brown;
  text-decoration: none;
}

.hamburger-menu2 {
  display: none;
  margin-top: -14px;
}

.hamburger-menu2 li {
  display: block;
}

.hamburger-menu2 li a {
  color: brown;
  text-decoration: none;
}

/***************  INTRO SECTION ******************/

#intro {
  background-image: url(../imagenes/ST0xfNm.gif);
  background-position: 50%;
  background-size: auto;
  background-color: rgb(0, 0, 0);
  color: white;
  text-align: justify;
  line-height: 200%;
}

#text {
  font-family: 'bodyfont', cursive;
}

#text a {
  text-decoration: none;
  color: brown;
  font-family: 'titulo', cursive;
}

#image {
  margin-top: 60px;
  float: right;
  margin-left: 5%;
  margin-bottom:auto;
}

#image2 {
  margin-top: 17px;
  position: center;
  overflow: hidden;
  width: 50vw;
  float: left;
  margin-right: 5%;
}

#image2 img {
  width: 100%;
}

hr {
  height: 1.5vw;
  min-height: 10px;
  margin-top: -1px;
  border-color: violet;
}

/************************ SONGS SECTION ***********************/

#songs {
  color: white;
  text-align: justify;
  line-height: 200%;
}

#imagen4 {
  width: 50vw;
  position: center;
  overflow: hidden;
  margin-left: 20%;
  margin-right: 20%;
}

#imagen4 img {
  width: 100%;
  margin-top: -18px;
  margin-bottom: -26px;
}

/************************ CACTUS JACK SECTION ***********************/

#cac {
  color: white;
  text-align: justify;
  line-height: 200%;
  background-color: black;
  background-image: url(../imagenes/ST0xfNm.gif);
  background-position: bottom;
  background-repeat: no-repeat;
}

#text a{
  text-decoration: none;
  font-family: 'titulo', cursive;
  color: brown;
}

#image5 {
  opacity: 50%;
  float: right;
  margin-top: 10vw;
  margin-left: 10vw;
  margin-bottom: 9vw;
  width: 30vw;
}

#image5 img{
  width: 100%;
}

#hr1 {
  margin-top: -16px;
}

/************************ COLLABS SECTION ***************************/

#collabs {
  color: white;
  text-align: justify;
  line-height: 200%;
}

.grid4 {
  display: grid;
  grid-template-columns: 25% 25% 25% 25%;
}

.grid5 {
  display: grid;
  grid-template-columns: 25% 25% 25% 25%;
}

.col4 {
  padding: 20px;
  display: block;
  margin: auto;
}      

.card {
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  transition: 0.3s;
  background-color: rgba(0,0,0,0.2);
}

.card:hover {
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

.container {
  padding: 2px 16px;
  margin-left: 10%;
  margin-right: 10%;
  text-align: center;
}

.card img {
  width: 225px;
  height: 300px;
  transition: 1s;
  padding: 4%;
  display: block;
  margin: auto;
  border-radius: 10%;
  opacity: 50%;
  overflow: hidden;
}

.card img:hover {
  opacity:1;
}

.card a {
  text-decoration: none;
  font-weight: bold;
  text-align: center;
  transition: 0.5s;
  border-radius: 5px;
  color: rgb(255, 255, 255);
  padding: 10px;
  margin-bottom: 10px;
  display: inline-block;
}

.card a:hover {
  color: brown;
  transform: scale(1.3);
}

/**************************** ABOUT US SECTION **************************/

#about {
  color: white;
  line-height: 200%;
  background-color: rgba(0, 0, 0, 0.5);
}

#about ul {
  padding: 0;
  margin: 0;
}

#about ul li {
  list-style-type: none;
}

#about ul li a {
  color: rgb(255, 255, 255);
  text-decoration: none;
}

.container-16-9 {
  float: right;
}

.grid2 {
  display: grid;
  grid-template-columns: 50% 50%;
}

.col2 {
  display:block;
  position:relative;
  margin: auto;
}

.texto{
  font-family: 'bodyfont', cursive;
}

/************************* FOOTER **************************/

footer {
  background-color: rgba(0, 0, 0, 0.5);
  padding: 5% 0;
  color: white;
  line-height: 200%;
}

.grid3 {
  display: grid;
  grid-template-columns: 25% 25% 50%;
}

.col3 a {
  text-decoration: none;
  color: white;
  font-family: 'titulo', cursive;
}

.col34 {
  text-align: center;
}

.fa {
  padding: 15px;
  font-size: 20px;
  width: 50px;
  text-align: center;
  text-decoration: none;
  margin: 5px 2px;
  border-radius:50%;
}

.fa:hover {
  opacity: 0.7;
}

.fa-facebook {
  background: #3B5998;
  color: white;
}

.fa-twitter {
  background: #55ACEE;
  color: white;
}

.fa-youtube {
  background: #bb0000;
  color: white;
}

.fa-instagram {
  background: #125688;
  color: white;
}

/**************************** MEDIA QUERIES *******************************/

@media only screen and (width>=1510px){
  #image {
    display: none;
  }

  #intro {
    margin-bottom: 30px;
  }

  #songs {
    background-image: none;
    background-color: black;
  }

  #imagen4 img {
    display: none;
  }
}

@media only screen and (width>= 1800px){
  #image5 {
    display: none;
  }
}

@media only screen and (width<=1200px){
 #intro {
    background: none;
    background-color: black;
  }

  .grid4 {grid-template-columns: 50% 50%;}

  .grid5 {grid-template-columns: 50% 50%;}
}

@media only screen and (width<=1000px){
  #image {
    display: none;
  }
  #image2 {
    margin: auto;
    width: 100%;
  }
}

@media only screen and (width<=850px){
  .grid2 {grid-template-columns: 100%;}

  .grid3 {grid-template-columns: 50% 50%;}
}

@media screen and (width<=768px) {
  .hamburger-menu {
    display: none;
  }

  .hamburger-menu2 {
    display: block;
  }
}

@media only screen and (width<=675px){
  #image {
    display: none;
  }

  .grid4 {grid-template-columns:100%;}

  .grid5 {grid-template-columns:100%;}
}

@media only screen and (width<=500px){
  #image5 {
    display: none;
  }
}

@media only screen and (width<=425px){
  #songs {
    background: none;
    background-color: black;
  }
  
  #imagen4 img {
    display: none;
  }
}

@media only screen and (width<=374px){
  .container-16-9 {
    display: none;
  }
}

@media only screen and (width<=340px){
  .card img {
    display: none;
  }
}

@media only screen and (width<=250px){
  .fa {
    display: none;
  }

  .col34 {
    display: none;
  }
}

@media only screen and (width<=230px){
  .outofcentre {
    display: none;
  }
}